# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local

public/assets
!public/assets/video-bg-720p.mp4
public/users
!public/users/default.png
public/plantes
!public/plantes/default.png

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

database/seeders/user_seeder.ts