@let(title="Mon potager 🌱")
@let(dashboard=true)

@include('partials/header')
@include('admin/aside_bar')
<div class="ml-64 p-10">
@!component('components/breadcrumb', { breadcrumbs: {
  'Mon potager': false
}
})
</div>  
@include('partials/footer')
