@let(title="Mon potager 🌱")
@let(dashboard=true)

@include('partials/header')
@include('admin/aside_bar')
<div class="sm:ml-64">
  <div class="p-10">
    @!component('components/breadcrumb', { breadcrumbs: {
    'Mon potager': route('admin.monpotager.index'),
    'Gérer mon potager': false
    }
    })
  </div>
  <div class="p-10">
    <h1 class="text-3xl font-bold">{{ potager.name }}</h1>
    <p class="text-gray-500 my-5">{{ potager.description }}</p>
    @each(plantation in plantations)
    <a href="{{ route('admin.monpotager.plantations.show', {
    idPotager: potager.id,
    idPlantation: plantation.id
    }) }}">
      <button class="mt-4 border-solid 
        @if(plantation.state === 1)
        border-red-500
        @else
          @if(plantation.state === 2 || plantation.state === 3)
            border-green-500
          @else
            border-white
          @end
        @end
        border rounded-lg w-full h-min my-8 py-2 hover:bg-gray-900 delay-75 transition-colors">
        <div class="flex items-center">
          <div class="flex items-center w-1/3">
            <div class="ms-5">
              <h2 class="text-xl font-bold">{{ plantation.name }}</h2>
              <div class="flex">
                <img src="{{ plantation.icon }}" alt="{{ plantation.name }}" class="w-8 h-8 rounded-lg mr-2" />
                <span class="text-gray-400 mt-1 font-bold">{{ plantation.plantename }}</span>
              </div>
            </div>
          </div>
          <div class="text-center w-1/3">
            <p>À récolter le {{ plantation.recolte }}</p>
          </div>
          <div class="w-1/3 text-right">
            @if(plantation.state === 1 || plantation.state === 3)
            <p class="text-red-500 mr-5">À arroser</p>
            @else
            <p class="text-blue-500 mr-5">Arrosé !</p>
            @end
          </div>
        </div>
      </button>
    </a>
    @else
    <div class="flex items-center justify-center my-8">
      <p class="text-gray-500">Aucune plantation pour le moment</p>
    </div>
    @end
    <a href="{{ route('admin.monpotager.plantations.create', { idPotager: potager.id})}}">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
       focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-5
       inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Ajouter une <span class="font-bold ml-1">plantation 👨‍🌾</span>
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 mt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </button>
    </a>
    <form action="{{ route('admin.monpotager.delete', {idPotager: potager.id})}}" method="post" class="">
      {{ csrfField() }}
      <label class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none
      focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-5 cursor-pointer
      inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        <input type="submit" class="cursor-pointer" value="Supprimer le potager" />

        @svg('material-symbols:delete', {
        width: 20,
        height: 20,
        class: 'ml-2'
        })
      </label>
    </form>
  </div>
</div>
@include('partials/footer')