@let(title="Mon potager 🌱")
@let(dashboard=true)

@include('partials/header')
@include('admin/aside_bar')
<div class="md:px-10 px-2 py-10">
@!component('components/breadcrumb')
</div>
@include('partials/footer')
